.social-items {
    display: flex;
    list-style: none;
}

.social-items {
    margin-left: -1rem;
}

.social-items a {
    color: rgb(58, 58, 58);
    margin: 2rem;
}

.social-item {
    transform: scale(2);
}

#contact {
    margin-bottom: 5rem;
}